<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="top">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">溜溜球的博客</a>
            </div>
            <ul class="nav navbar-nav classify">
                 {% if not article_type_id %}
                    <li class="active"><a href="/">全部</a></li>
                {% else %}
                    <li><a href="/">全部</a></li>
                {% endif %}
                {% for item in article_type_list %}
                    {% if item.0 == article_type_id %}
                        <li class="active"><a href="/all/{{ item.0 }}">{{ item.1 }}</a></li>
                    {% else %}
                        <li><a href="/all/{{ item.0 }}">{{ item.1 }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
            <ul class="nav navbar-nav" style="position:absolute;right: 0px">
                {% if request.session.user %}
                    {% if request.session.user.nickname %}
                        <li><a><i class="fa fa-user-o">&nbsp;&nbsp;</i>{{ request.session.user.nickname }}</a></li>
                    {% else %}
                        <li><a><i class="fa fa-user-o">&nbsp;&nbsp;</i>{{ request.session.user.username }}</a></li>
                    {% endif %}
                    {% if request.session.user.pb__site %}
                        <li><a href="/{{ request.session.user.pb__site }}">我的博客</a></li>
                        <li><a href="/backend/index">博客管理</a></li>
                    {% endif %}
                        <li><a href="{% url 'logout' %}">注销</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}"><i class="fa fa-user-o fa-lg"></i></a></li>
                    <li><a href="{% url 'register' %}"><i class="fa fa-user-plus fa-lg "></i></a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
